<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Đăng ký</title>
</head>
<body class="container py-5">

<h2>Đăng ký</h2>

<form th:action="@{/auth/register}" method="post">
    <input name="username" placeholder="Username" class="form-control mb-2">
    <input name="email" placeholder="Email" class="form-control mb-2">
    <input name="password" type="password" placeholder="Password" class="form-control mb-2">
    <button class="btn btn-primary">Đăng ký</button>
</form>

</body>
</html>
